@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

.hero {
    background-color:#1F2937;
    height:600px;
    width:auto;
}

.logo {
    display:flex;
    height:75px;
    width:75px;
    padding:16px;
}

.links {
    display:flex;
    list-style: none;
    font-size:24px;
    gap:32px;
    padding:16px;
    margin-left:900px;
}

.link {
    text-decoration:none;
    color:#E5E7EB;
    font-family: Roboto Mono, serif;
}

.header {
    display:flex;
    flex-direction:row;
}

.main-text {
    display:flex;
    font-weight:bold;
    font-size:48px;
    color:#F9FAF8;
    justify-content:center;
    margin-top:50px;
    margin-right:450px;
    font-family: Roboto Mono, serif;
    width:600px;
    margin-left:120px;
}

.brief {
    font-size:18px;
    color:#E5E7EB;
    font-family: Roboto Mono, serif;
    width:600px;
    margin-left:120px;
}

.fireimg {
    display:flex;
    flex-direction:column;
    height:300px;
    width:600px;
    margin-left:750px;
    justify-content:center;
}

.fireimg { 
    position: relative; top: -200px; 
}

.applybut {
    text-decoration:none;
    color:white;
}

.but1 {
    background-color:#3882F6;
    border:none;
    border-radius:8px;
    height:40px;
    width:110px;
    margin-left:120px;
    position:relative; 
    top: -300px;
}


.crew {
    display:flex;
    height:200px;
    width:200px;
    position:relative;
    top:+150px;
    border: 5px solid #3882F6;
    border-radius:8px;

}

.info {
    display:flex;
    justify-content:center;
    gap:32px;
}

.rand {
    display:flex;
    font-size:36px;
    font-weight:bolder;
    color:#1F2937;
    font-family:Roboto Mono, serif;
    justify-content:center;
    position:relative;
    top:-250px
}

.desc {
    position:relative;
    top:+150px;
    font-family: Roboto Mono, serif;
    width:200px;
    text-align:center;
    
}

.quota {
    background-color:#E5E7EB;
    height:500px;
    width:auto;
    position:relative;
    top:+175px;
}

.quote {
    font-size:36px;
    color:#1F2937;
    font-family:Bitter, serif;
    position:relative;
    top:+200px;
    width:750px; 
    margin-left:320px;
}

.author {
    font-family: Rajdhani, sans-serif;
    position:relative;
    top:+175px;
    left:+940px;
    font-size:24px;
}

.footer {
    background-color:#FFFFFF;
    height:450px;
    width:auto
}

.act {
    background-color:#3882F6;
    height:125px;
    width:800px;
    border-radius:8px;
    position:relative;
    top:+260px;
    left:+300px;
}

.pers {
    color:#FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    position:relative;
    top:40px;
    left:70px;
}

.insp {
    font-size:14px;
    position:relative;
    top:25px;
    left:67px;
    color:#FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
}

.apply {
    position:relative;
    left:590px;
    top:-18px;
    background-color:transparent;
    border:2px solid #FFFFFF;
    height:40px;
    width:120px;
    border-radius:8px;
}

.txtbut {
    text-decoration:none;
    color: #FFFFFF;
    font-size:18px;
}

.end {
    background-color:#1F2937;
    width:auto;
    height:75px;
}

.cr {
    color:#E5E7EB;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    position:relative;
    top:25px;
    left:600px;
}
